.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: 0.9s opacity ease;
}

.footer__column-link:hover {
  opacity: .6;
}