.logo {
  width: 183px;
  margin: 0;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3px;
  transition: 0.9s opacity ease;
}

.logo:hover {
  opacity: .6;
}