.header__main-illustration {
  height: 608px;
  width: 765px;
  background-image: url(../../../images/header-image.png);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
}